<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Page</title>
    <a href="{% url 'home' %} ">Homepage</a>
    <a href="{% url 'contact' %} ">contact</a>

</head>
<body>

<h1>About Us!</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, quia vero. Accusantium, aliquam assumenda culpa deleniti dignissimos esse expedita fugit, inventore optio provident quae qui quisquam repellendus, tempora vero voluptates.</span><span>Eligendi error exercitationem facere id illo laudantium perferendis praesentium quia repellat repudiandae. Ad aliquam dignissimos dolorem dolorum illo labore laudantium libero magni molestiae nobis officiis perspiciatis quod, reiciendis vero voluptates?</span></p>

<h2>Additional Information</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam assumenda beatae commodi eos ex expedita laboriosam, maxime modi natus nisi nostrum odio quas qui recusandae reiciendis rerum tempore vitae!</span><span>Corporis error est eum, fugiat illum ipsa ipsum iste, minus omnis quaerat qui quis repellat sint sit tempore totam ut! Ea, iusto, veritatis. Ab architecto inventore magni obcaecati, repellat sint.</span><span>Adipisci commodi exercitationem ipsam nemo officia optio possimus quas, qui quos. Accusantium, beatae commodi cumque dicta dolores, doloribus eligendi hic ipsa maxime nemo nostrum odit praesentium ratione rerum tempora? Quidem!</span></p>




</body>
</html>