<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <a href="{% url 'home' %}" class="btn btn-primary">Homepage</a>
    <a href="{% url 'about' %}"class="btn btn-outline-success">About</a>
<h1 class="text-danger text-center">Contact us!</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate facilis in ipsa neque praesentium repellat unde vitae, voluptas. Autem commodi consectetur distinctio, dolorem facilis laborum quibusdam saepe soluta suscipit? Laudantium.</span><span>Animi distinctio dolore eligendi incidunt quam reprehenderit, sint soluta sunt voluptates. Ab cumque dolore, eos inventore ipsum mollitia omnis quibusdam quos unde veniam. Dolores error molestiae quaerat repellendus totam velit!</span><span>Cum exercitationem expedita illum libero nihil? Accusamus cumque error esse est facilis ipsum maiores maxime nisi numquam pariatur quasi qui, recusandae reiciendis repellendus repudiandae tempore temporibus unde velit voluptas voluptatem?</span><span>Aliquid corporis dolorem doloremque esse et ex hic impedit, in odit officia quibusdam, quidem recusandae repellat repellendus repudiandae saepe sequi totam velit! Ad commodi ea eum eveniet, excepturi molestiae neque.</span></p>



</body>
</html>